<nav id="mainMenu" class="navbar navbar-default">
    <div class="collapse navbar-collapse col-md-12">
        <ul class="nav navbar-nav col-md-12">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="">Главная</a>
            </li>
            <li routerLinkActive="active"><a routerLink="/about">О сайте</a></li>
            <li *ngIf="admin" routerLinkActive="active"><a routerLink="/users">Пользователи</a></li>
            <li routerLinkActive="active"><a routerLink="/products">Продукция</a></li>
            <li *ngIf="admin" routerLinkActive="active"><a routerLink="/addproduct">Добавить товар</a></li>
            <li routerLinkActive="active"><a routerLink="/contacts">Контакты</a></li>
            <li routerLinkActive="active"><a routerLink="/replies">Отзывы</a></li>
            <li *ngIf="authorize" routerLinkActive="active"><a routerLink="/private">Личный кабинет</a></li>
            <li *ngIf="!authorize" routerLinkActive="active"><a routerLink="/login">Авторизация/Регистрация</a></li>
            <li *ngIf="authorize" (click)="logout()"><a>Выйти</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<footer>

</footer>