<div id="categories">
    <div id="category1">
        <span routerLinkActive="active"><a [routerLink]="['office']">Офисная мебель</a></span>
    </div>
    <div id="category2">
        <span routerLinkActive="active"><a [routerLink]="['room']">Мебель для спальни</a></span>
    </div>
    <div id="category3">
        <span routerLinkActive="active"><a [routerLink]="['kitchen']">Мебель для кухни</a></span>
    </div>
    <div id="category4">
        <span routerLinkActive="active"><a [routerLink]="['soft']">Мягкая мебель</a></span>
    </div>
    <div id="category5">
        <span routerLinkActive="active"><a [routerLink]="['child']">Детская мебель</a></span>
    </div>
    <div id="category6">
        <span routerLinkActive="active"><a [routerLink]="['other']">Прочая мебель</a></span>
    </div>
</div>

<router-outlet></router-outlet>